@model IEnumerable<Uni_Management_System.DAL.Student>

@{
    ViewData["Title"] = "Index";
}

    <div class="container">
        <div class="row">

        </div>
        @foreach (var item in Model)
        {
            if (item.email == "test_user@test.com")
            {
                <div class="row">
                    <div class="col col-md-7 m-3 d-flex flex-column">
                        <div>
                            <h1>Your profile</h1>
                        </div>
                        <div class="d-flex flex-row my-3">
                            <h4>Name:</h4>
                            <h4>@Html.DisplayFor(modelItem => item.name)</h4>
                        </div>
                        <div class="d-flex flex-row my-3">
                            <h4>Student Number: </h4>
                            <h4> @Html.DisplayFor(modelItem => item.studentNo)</h4>
                        </div>
                        <div class="d-flex flex-row my-3">
                            <h4>Email:</h4>
                            <h4>@Html.DisplayFor(modelItem => item.email)</h4>
                        </div>
                        <div class="d-flex flex-row my-3">
                            <h4>Date of Birth:</h4>
                            <h4>@Html.DisplayFor(modelItem => item.dateOfBirth)</h4>
                        </div>
                        <div class="d-flex flex-row my-3">
                            <h4>Course:</h4>
                            <h4>@Html.DisplayFor(modelItem => item.course)</h4>
                        </div>
                    </div>
                    <div class="col col-md-4 m-3 ">
                        <div class="text-center">
                            <h1>Your personality</h1>
                            <img src="~/images/insp.png" alt="Personality Image" />
                            <h4> @Html.DisplayFor(modelItem => item.personality)</h4>
                        </div>
                    </div>
                </div>
            }

        }
    </div>