@model IEnumerable<Uni_Management_System.DAL.Progress>

@{
    ViewData["Title"] = "Index";
}

    <div class="container">
        <h1>Your Progress</h1>
        <p>
            <a class="btn btn-success" asp-action="Create"> + Add your progress</a>
        </p>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GPA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.creditsCompleted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.creditsRemaining)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.GPA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.creditsCompleted)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.creditsRemaining)
                        </td>
                        <td>
                            <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
